body{
    font-family: sans-serif !important;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 4.5rem;
}
.nav-link{
    color: #222 !important;
}
/* Footer css */
.f-info-links a{
    text-decoration: none;
    color: #222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    background-color: antiquewhite;
}
.f-info-socials{
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
}
.f-info-links{
    width: 100%;
    text-align: center;
}

/* Card style */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-review{
    border: 1px solid rgb(235, 227, 217) !important;
}
.card-body{
    padding: 0 !important;
}
.card-img-top{
border-radius: 0.5rem !important;
height: 18rem;
width: 100% !important;
object-fit: cover;
}
.card-text{
    font-size: 500;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay:hover{
   opacity: 0.2;
   background-color: white;
}

/* Show page */
.show-img{      
  max-width:100%;   
}
.home{
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
.home:hover{
    background-color: rgb(216, 223, 223);
    border-radius: 10px;
}




#filters{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    opacity: 0.6;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .filter p{
    font-size: 0.9rem;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .tax-info{
    display: none;
  }
  .text-toggle{
    border: 1px solid rgb(140, 138, 138);
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }

  